@{
    ViewData["Title"] = "Rol Seçimi";
}

<div class="container text-center mt-5">
    <h2>Lütfen Rolünüzü Seçin</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <a href="/Account/Login?role=dr" class="btn btn-primary btn-lg btn-block mb-3">
                Sürücü (Driver)
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Account/Login?role=emp" class="btn btn-success btn-lg btn-block">
                Çalışan (Employee)
            </a>
        </div>
    </div>
</div> 